[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

currently = {git = "https://github.com/tkrajina/gpxpy.git", ref = "29911dbf10db0f40e6bc8ac1f719e30cc47677ed"}
click = "*"


[dev-packages]



[requires]

python_version = "3.6"
